<section class="interior-hero">
  <div class="container services-hero__container">
    <!-- <div class="services-hero__left"> -->
      <!-- <div class="breadcrumb">
        <a href="#!" class="breadcrumb-link">Homepage</a>
        <svg class="breadcrumb-svg">
          <use xlink:href="./img/sprite.svg#slash"></use>
        </svg>
        <span class="breadcrumb-services">Services</span>
      </div> -->
      <ul class="list-reset breadcrumbs page-hero__breadcrumbs interior-hero__breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Homepage</a>
        </li>
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Services</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link">Interior Design</a>
        </li>
      </ul>
      <h1 class="main-title">INTERIOR <br> DESIGN</h1>
      <p class="main-descr main-descr-interior-hero">
        If you are looking for a full-service construction company, look to Createx Construction Bureau. We are doing
        our best to be a partner for all of your construction needs.
      </p>
    <!-- </div> -->
    <!-- <div class="services-hero__right">
      <img src="../img/services-hero-bg.jpg" alt="" class="servises-hero__bg">
    </div> -->
  </div>
</section>
