<section class="services-work">
  <div class="container">
    <ul class="list-reset services-work__list">
      <li class="services-work__item">
        <div class="services-work__item-fr services-work__item-card">
          <img src="./img/services-work-1.jpg" alt="" class="services-work__item-img">
        </div>
        <div class="services-work__item-fr services-work__item-content">
          <h2 class="services-work__item-content-title">Construction</h2>
          <p class="services-work__item-content-descr">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut ut augue. Mattis habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut vestibulum. </p>
          <a href="#!" class="services-work__item-content-link">Learn more</a>
        </div>
      </li>
      <li class="services-work__item">
        <div class="services-work__item-fr services-work__item-card">
          <img src="./img/services-work-1.jpg" alt="" class="services-work__item-img">
        </div>
        <div class="services-work__item-fr services-work__item-content">
          <h2 class="services-work__item-content-title">Construction</h2>
          <p class="services-work__item-content-descr">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut ut augue. Mattis habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut vestibulum. </p>
          <a href="#!" class="services-work__item-content-link">Learn more</a>
        </div>
      </li>
      <li class="services-work__item">
        <div class="services-work__item-fr services-work__item-card">
          <img src="./img/services-work-1.jpg" alt="" class="services-work__item-img">
        </div>
        <div class="services-work__item-fr services-work__item-content">
          <h2 class="services-work__item-content-title">Construction</h2>
          <p class="services-work__item-content-descr">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut ut augue. Mattis habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut vestibulum. </p>
          <a href="#!" class="services-work__item-content-link">Learn more</a>
        </div>
      </li>
      <li class="services-work__item">
        <div class="services-work__item-fr services-work__item-card">
          <img src="./img/services-work-1.jpg" alt="" class="services-work__item-img">
        </div>
        <div class="services-work__item-fr services-work__item-content">
          <h2 class="services-work__item-content-title">Construction</h2>
          <p class="services-work__item-content-descr">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut ut augue. Mattis habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut vestibulum. </p>
          <a href="#!" class="services-work__item-content-link">Learn more</a>
        </div>
      </li>
    </ul>
  </div>
</section>
